.loader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(255,255,255, 0.5);
    z-index: 11;
    top: 0;
}
    /*Color Loader*/
.loader-wrapper .loader-index {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: url("#goo");
}
  
.loader-wrapper.loderhide {
    display: none;
}